<div class="page_loader"></div>
<!-- Top header start -->
<header class="top-header th-2 top-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7">
                <div class="list-inline">
                    <a href="https://bit.ly/3DmA4Wm" target="_blank" class="buy_course_link" style="color: white;text-transform: uppercase;letter-spacing: 2px;float: right;"><span>&#x1F525</span> Purchase Full Course on Udemy | Lowest Price <span>&#x1F525</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5">
                <ul class="top-social-media pull-right">


                    <li>
                        <a href="accounts/login.html" class="sign-in"><i class="fa fa-sign-in"></i> Login</a>
                    </li>
                    <li>
                        <a href="accounts/register.html" class="sign-in"><i class="fa fa-user"></i> Register</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Top header end -->
