{%extends 'base.html'%}
{% load static %}
{% block content %}






<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Our Car Inventory</h1>
            <ul class="breadcrumbs">
                <li><a href="{%url 'home'%}">Home</a></li>
                <li class="active">Cars</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->


<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">

                <div class="row">
                  
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="7.html" class="car-img">
                                    <div class="tag">For Rent</div>
                                    <div class="price-box">
                                        <span>$ 23,000</span>
                                    </div>
                                    <img class="d-block w-100" src="../media/photos/2020/07/10/1900893329.jpg" alt="car"  style="min-height: 262px; max-height: 262px;">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="../media/photos/2020/07/10/1900893329.jpg" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="../media/photos/2020/07/10/1900893329.jpg">
                                                </a>
                                                
                                                <a href="../media/photos/2020/07/10/1900893299.jpg" class="hidden" >
                                                    <img class="hidden" src="../media/photos/2020/07/10/1900893299.jpg">
                                                </a>
                                                
                                                
                                                <a href="../media/photos/2020/07/10/1900893319.jpg" class="hidden">
                                                    <img class="hidden" src="../media/photos/2020/07/10/1900893319.jpg">
                                                </a>
                                                
                                                
                                                <a href="../media/photos/2020/07/10/1900893311.jpg" class="hidden">
                                                    <img class="hidden" src="../media/photos/2020/07/10/1900893311.jpg">
                                                </a>
                                                
                                                
                                                <a href="../media/photos/2020/07/10/1900893391.jpg" class="hidden" >
                                                    <img class="hidden" src="../media/photos/2020/07/10/1900893391.jpg">
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="7.html">2018 Toyota Corolla</a>
                                </h1>
                                <div class="location">
                                    <a href="7.html">
                                        <i class="flaticon-pin"></i>TX, San Antonio
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Gasoline</li>
                                    <li>22,500 km</li>
                                    <li>Manual</li>
                                    <li>Sedan</li>
                                    <li>White</li>
                                    <li>2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="6.html" class="car-img">
                                    <div class="tag">For Rent</div>
                                    <div class="price-box">
                                        <span>$ 30,000</span>
                                    </div>
                                    <img class="d-block w-100" src="../media/photos/2020/07/10/1893633875.jpg" alt="car"  style="min-height: 262px; max-height: 262px;">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="../media/photos/2020/07/10/1893633875.jpg" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="../media/photos/2020/07/10/1893633875.jpg">
                                                </a>
                                                
                                                <a href="../media/photos/2020/07/10/1893633879.jpg" class="hidden" >
                                                    <img class="hidden" src="../media/photos/2020/07/10/1893633879.jpg">
                                                </a>
                                                
                                                
                                                <a href="../media/photos/2020/07/10/1893633884.jpg" class="hidden">
                                                    <img class="hidden" src="../media/photos/2020/07/10/1893633884.jpg">
                                                </a>
                                                
                                                
                                                <a href="../media/photos/2020/07/10/1896836883.jpg" class="hidden">
                                                    <img class="hidden" src="../media/photos/2020/07/10/1896836883.jpg">
                                                </a>
                                                
                                                
                                                <a href="../media/photos/2020/07/10/1896836887.jpg" class="hidden" >
                                                    <img class="hidden" src="../media/photos/2020/07/10/1896836887.jpg">
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="6.html">2018 Toyota 4Runner</a>
                                </h1>
                                <div class="location">
                                    <a href="6.html">
                                        <i class="flaticon-pin"></i>TX, Houston
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Diesel</li>
                                    <li>10,000 km</li>
                                    <li>Manual</li>
                                    <li>SUV</li>
                                    <li>White</li>
                                    <li>2018</li>
                                </ul>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="5.html" class="car-img">
                                    <div class="tag">For Rent</div>
                                    <div class="price-box">
                                        <span>$ 50,000</span>
                                    </div>
                                    <img class="d-block w-100" src="../media/photos/2020/07/06/1902932503.jpg" alt="car"  style="min-height: 262px; max-height: 262px;">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="../media/photos/2020/07/06/1902932503.jpg" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="../media/photos/2020/07/06/1902932503.jpg">
                                                </a>
                                                
                                                <a href="../media/photos/2020/07/06/1902932514.jpg" class="hidden" >
                                                    <img class="hidden" src="../media/photos/2020/07/06/1902932514.jpg">
                                                </a>
                                                
                                                
                                                <a href="../media/photos/2020/07/06/1902932528.jpg" class="hidden">
                                                    <img class="hidden" src="../media/photos/2020/07/06/1902932528.jpg">
                                                </a>
                                                
                                                
                                                <a href="../media/photos/2020/07/06/1902932542.jpg" class="hidden">
                                                    <img class="hidden" src="../media/photos/2020/07/06/1902932542.jpg">
                                                </a>
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="5.html">2017 Jaguar F-PACE</a>
                                </h1>
                                <div class="location">
                                    <a href="5.html">
                                        <i class="flaticon-pin"></i>TX, Austin
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Petrol</li>
                                    <li>12,500 km</li>
                                    <li>Automatic</li>
                                    <li>SUV</li>
                                    <li>Green</li>
                                    <li>2017</li>
                                </ul>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="4.html" class="car-img">
                                    <div class="tag">For Rent</div>
                                    <div class="price-box">
                                        <span>$ 30,000</span>
                                    </div>
                                    <img class="d-block w-100" src="../media/photos/2020/07/06/1894300894.jpg" alt="car"  style="min-height: 262px; max-height: 262px;">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="../media/photos/2020/07/06/1894300894.jpg" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="../media/photos/2020/07/06/1894300894.jpg">
                                                </a>
                                                
                                                <a href="../media/photos/2020/07/06/1894300905.jpg" class="hidden" >
                                                    <img class="hidden" src="../media/photos/2020/07/06/1894300905.jpg">
                                                </a>
                                                
                                                
                                                <a href="../media/photos/2020/07/06/1894300920.jpg" class="hidden">
                                                    <img class="hidden" src="../media/photos/2020/07/06/1894300920.jpg">
                                                </a>
                                                
                                                
                                                <a href="../media/photos/2020/07/06/1900155012.jpg" class="hidden">
                                                    <img class="hidden" src="../media/photos/2020/07/06/1900155012.jpg">
                                                </a>
                                                
                                                
                                                <a href="../media/photos/2020/07/06/1900155133.jpg" class="hidden" >
                                                    <img class="hidden" src="../media/photos/2020/07/06/1900155133.jpg">
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="4.html">2017 Ford F-250 Super Duty</a>
                                </h1>
                                <div class="location">
                                    <a href="4.html">
                                        <i class="flaticon-pin"></i>NY, Ohio
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>Diesel</li>
                                    <li>13,000 km</li>
                                    <li>Automatic</li>
                                    <li>SUV</li>
                                    <li>Black</li>
                                    <li>2017</li>
                                </ul>
                            </div>
                        </div>
                    </div>
            



                </div>
                <!-- Page navigation start -->
                <div class="pagination-box p-box-2 text-center">
                    <nav aria-label="Page navigation example">
                      
                        <ul class="pagination">
                          
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-left"></i></a>
                            </li>
                          

                          
                            
                              <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            
                          
                            
                              <li class="page-item"><a class="page-link" href="index4658.html?page=2">2</a></li>
                            
                          

                          
                              <li class="page-item">
                                  <a class="page-link" href="index4658.html?page=2"><i class="fa fa-angle-right"></i></a>
                              </li>
                          

                        </ul>
                      
                    </nav>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search2">
                        <h3 class="sidebar-title">Search your desire car</h3>
                        <form action="https://djangocarzone.com/cars/search" method="">
                            <div class="form-group">
                                <input type="text" name="keyword" placeholder="Search by name" class="form-control">
                            </div>

                            <div class="form-group">
                                <select class="form-control search-fields" name="model">
                                    <option selected="true" disabled="disabled">Model</option>
                                    
                                      <option value="F-250">F-250</option>
                                    
                                      <option value="Corolla">Corolla</option>
                                    
                                      <option value="F-PACE">F-PACE</option>
                                    
                                      <option value="488 GTB">488 GTB</option>
                                    
                                      <option value="Edge">Edge</option>
                                    
                                      <option value="4Runner">4Runner</option>
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="city">
                                    <option selected="true" disabled="disabled">Location</option>
                                    
                                      <option value="San Antonio">San Antonio</option>
                                    
                                      <option value="Dallas">Dallas</option>
                                    
                                      <option value="Austin">Austin</option>
                                    
                                      <option value="Ohio">Ohio</option>
                                    
                                      <option value="Houston">Houston</option>
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="year">
                                    <option selected="true" disabled="disabled">Year</option>
                                    
                                      <option value="2017">2017</option>
                                    
                                      <option value="2018">2018</option>
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="body_style">
                                    <option selected="true" disabled="disabled">Select Type Of Car</option>
                                    
                                      <option value="Sport">Sport</option>
                                    
                                      <option value="SUV">SUV</option>
                                    
                                      <option value="Sedan">Sedan</option>
                                    
                                </select>
                            </div>
                            <div class="range-slider clearfix">
                                            <label>Price</label>
                                            <div data-min="0" data-max="150000"  data-min-name="min_price" data-max-name="max_price" data-unit="USD" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                            <div class="clearfix"></div>
                                        </div>
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i> Search
                                </button>
                            </div>
                        </form>
                    </div>

                    <!-- Question start -->
                    <div class="widget question widget-3">
                        <h5 class="sidebar-title">Follow us</h5>
                        <div class="social-list clearfix">
                            <ul>
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

{% endblock %}