<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Car Zone  | Home </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" href="{%static 'pages/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'pages/css/animate.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'pages/css/bootstrap-submenu.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'pages/css/bootstrap-select.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'pages/css/magnific-popup.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'pages/fonts/font-awesome/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'pages/fonts/flaticon/font/flaticon.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'pages/fonts/linearicons/style.css'%}">
    <link rel="stylesheet" type="text/css"  href="{%static 'pages/css/jquery.mCustomScrollbar.css'%}">
    <link rel="stylesheet" type="text/css"  href="{%static 'pages/css/dropzone.css'%}">
    <link rel="stylesheet" type="text/css"  href="{%static 'pages/css/slick.css'%}">
    <link rel="stylesheet" type="text/css"  href="{%static 'pages/css/lightbox.min.css'%}">
    <link rel="stylesheet" type="text/css"  href="{%static 'pages/css/jnoty.css'%}">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/style.css'%}">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="{% static 'pages/css/skins/red.css'%}">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static 'pages/img/favicon.ico'%}" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">



    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/ie10-viewport-bug-workaround.css'%}">

    <script  src="{% static 'pages/js/ie-emulation-modes-warning.js'%}"></script>

    <style>
        @media screen and (max-width: 992px){
            .sticky-header{
                top: 105px !important;
            }
            .top-header{
                display:block !important;
            }
        }

    </style>
</head>
<body>


{% include 'includes/topbar.html'%}
{% include 'includes/navbar.html'%}


{% block content %}

{% endblock%}
<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="https://djangocarzone.com/cars/search" class="search-header">
        <input type="search" value="" placeholder="type keyword(s) here. Eg: audi, benz etc" name='keyword' />
        <button type="submit" class="btn btn-sm button-theme">Search</button>
    </form>
</div>


{% include 'includes/footer.html'%}



<!-- Footer end -->


<script src="{% static 'pages/js/jquery-2.2.0.min.js'%}"></script>
<script src="{% static 'pages/js/popper.min.js'%}"></script>
<script src="{% static 'pages/js/bootstrap.min.js'%}"></script>
<script  src="{% static 'pages/js/bootstrap-submenu.js'%}"></script>
<script  src="{% static 'pages/js/rangeslider.js'%}"></script>
<script  src="{% static 'pages/js/jquery.mb.YTPlayer.js'%}"></script>
<script  src="{% static 'pages/js/bootstrap-select.min.js'%}"></script>
<script  src="{% static 'pages/js/jquery.easing.1.3.js'%}"></script>
<script  src="{% static 'pages/js/jquery.scrollUp.js'%}"></script>
<script  src="{% static 'pages/js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
<script  src="{% static 'pages/js/dropzone.js'%}"></script>
<script  src="{% static 'pages/js/slick.min.js'%}"></script>
<script  src="{% static 'pages/js/jquery.filterizr.js'%}"></script>
<script  src="{% static 'pages/js/jquery.magnific-popup.min.js'%}"></script>
<script  src="{% static 'pages/js/jquery.countdown.js'%}"></script>
<script  src="{% static 'pages/js/jquery.mousewheel.min.js'%}"></script>
<script  src="{% static 'pages/js/lightgallery-all.js'%}"></script>
<script  src="{% static 'pages/js/jnoty.js'%}"></script>
<script  src="{% static 'pages/js/app.js'%}"></script>


</body>
</html>
